@model ParentModel

@using (Html.BeginForm())
{
            <div>
        @Html.TextBoxFor(model => model.UserType.UserName, new { @class = "form-control input-sm", placeholder = "Name" })

            </div>
            <br />
            <div>
        @Html.TextBoxFor(model => model.UserType.Address, new { @class = "form-control input-sm", placeholder = "Address" })
            </div>
            <br />
            <div>
        @Html.TextBoxFor(model => model.UserType.Phone, new { @class = "form-control", placeholder = "Phone" })

            </div>
    <div>
        <br />


        <table id="table_id" class="table">
            <thead class="thead-light">
                <tr>

                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        Nothing
                    </td>
                </tr>

            </tbody>

            

        </table>
        
        

        <input class="btn-primary" type="submit" value="Submit" />
            </div>

}