@model List<PurchaseOrder.Models.PurchaseModel>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Instance in Model)
            {
                <tr>
                    <td>@Instance.ProductName</td>
                    <td>
                        <input type="number" asp-for="Orders[i].Quantity" />
                        <input type="hidden" asp-for="Orders[i].ProductId" value="@Instance.ProductId" />
                    </td>
                    <td>@Instance.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit Order</button>
</form>
